<div class="matrix-container">
    <!-- First Row: Column headers -->
    <div class="matrix-cell header"></div>
    <div class="matrix-cell header">
      <input type="text" value="Column 1" class="header-input">
    </div>
    <div class="matrix-cell header">
      <input type="text" value="Column 2" class="header-input">
    </div>
  
    <!-- Row 1 -->
    <div class="matrix-cell header">
      <input type="text" value="Row 1" class="header-input">
    </div>
    <div class="matrix-cell">
      <input type="radio" name="row1" class="radio-input">
      <input type="text" class="cell-input" value="Text">
    </div>
    <div class="matrix-cell">
      <input type="radio" name="row1" class="radio-input">
      <input type="text" class="cell-input" value="Text">
    </div>
  
    <!-- Row 2 -->
    <div class="matrix-cell header">
      <input type="text" value="Row 2" class="header-input">
    </div>
    <div class="matrix-cell">
      <input type="radio" name="row2" class="radio-input">
      <input type="text" class="cell-input" value="Text">
    </div>
    <div class="matrix-cell">
      <input type="radio" name="row2" class="radio-input">
      <input type="text" class="cell-input" value="Text">
    </div>
  </div>
  