.matrix-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-color: white;
    margin-left: 24px;
    margin-right: 32px;
    padding-top: 45px;
    padding-left: 24px;
}

.matrix-table {
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding: 10px;
    margin-right: 20px;
    position: relative;
    width: 420px;
    overflow-x: auto;
}

.matrix-cell input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.matrix-cell input[type="checkbox"]:checked {
    background-color: grey;
    border-color: #1F7A54;
}


.matrix-row {
    display: flex;
    width: max-content;
    /* Ensure row size adapts to content, allowing horizontal scroll */
}

.matrix-cell {
    border: 1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
    width: 38px;
}

.matrix-header {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    /* Input spans the full width of its parent (matrix-cell) */
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}

.matrix-input {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    /* Input spans the full width of its parent (matrix-cell) */
    margin-left: 10px;
    box-sizing: border-box;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 35px;
    margin: 5px;
    padding: 5px;
    background-color: #3fd28b;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

.action-buttons-row {
    position: relative;
    bottom: 80px;
}

.action-buttons-col {
    position: relative;
    left: 450px;
    bottom: 120px;
}