<div class="header-options">
  <div class="checkbox-option">
    <input type="checkbox" id="row-header" />
    <label for="row-header">Set 1st row as header</label>
  </div>

  <div class="checkbox-option">
    <input type="checkbox" id="column-header" checked/>
    <label for="column-header">Set 1st column as header</label>
  </div>

  <div class="checkbox-option">
    <input type="checkbox" id="column-divider" />
    <label for="column-divider">Show column divider</label>
  </div>


  <div class="header-options2">
    <div class="checkbox-option">
      <input type="checkbox" id="row-divider" />
      <label for="row-divider">Show row divider</label>
    </div>
  
    <div class="checkbox-option">
      <input type="checkbox" id="column-title" checked/>
      <label for="column-title">Show column title</label>
    </div>
  </div>
</div>