@font-face {
    font-family: Quicksand;
    src: url("Quicksand.ttf");
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Quicksand;
    background-color: #EEEEEE;
    position: relative;
}

.header {
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    background: linear-gradient(rgba(31, 42, 54, 255), rgba(31, 42, 54, 255)), url('header-image.png');
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
    height: 56px;
}

.header-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 24px;
    width: 134px;
    height: 36px;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    /* align-items: center; */
    margin-left: 190px;
}

.nav-spacing {
    margin-right: 30px;
}

li a {
    color: #3FD28B;
    text-decoration: none;
}

.db {
    display: flex;
    width: 98px;
    height: 38px;
    /* height: 53px; */
    color: white;
    border-bottom: 3px solid white;
    width: fit-content;
    /* align-items: center; */
}

.info-icons {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: end;
    margin-right: 10px;
    position: relative;
}

.alert-menu {
    display: flex;
    position: relative;
    margin-right: 30px;
    height: 56px;
    align-items: center;
    margin-bottom: 0px;

    &:hover {
        cursor: pointer;

        &::after {
            display: none;
        }

        .alert-icon {
            background: #FFFFFF;
        }

        #alert-container {
            height: 562px;
            transition: 1s;
        }

        .alert-container-button {
            display: flex;
        }
    }
}

#alert-outer-container {
    position: absolute;
    top: 56px;
    right: 0px;
    width: 315px;
}

#alert-container {
    display: flex;
    height: 0px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    overflow: scroll;
    overflow-x: hidden;
}

.alert-menu::after {
    content: "2";
    color: #FFFFFF;
    background-color: #2A7FF3;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    left: 13px;
    bottom: 25px;
}

.alert-container-button {
    display: none;
    background-color: white;
    box-shadow: 0 0 3px #0000003D;
    border-radius: 0px 0px 2px 2px;
    font-size: 14px;
    padding: 15px 120px;
}


.subject-category {
    margin-top: 8px;
    font-size: 12px;
}

.date-time {
    font-size: 12px;
    color: #6E6E6E;
}

.subject-c {
    color: #6E6E6E;
    margin-right: 3px;
    font-weight: 500;
}

.subject {
    font-weight: 500;
}

.alert-notification {
    margin: 0;
    font-weight: 600;
}

.alert-info,
.subject-category {
    display: flex;
}

.alert-details {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 16px;
}

.announcement-menu {
    display: flex;
    height: 56px;
    position: relative;
    margin-right: 30px;
    align-items: center;
    margin-bottom: 0px;

    &:hover {
        cursor: pointer;

        &::after {
            display: none;
        }

        .announcement-icon {
            background: #FFFFFF;
        }

        #announcement-container {
            height: 562px;
            transition: 1s;
        }

        .announcement-buttons {
            display: flex;
        }
    }
}

.checked {
    background-color: #FFFFFF;
}

.unchecked {
    background-color: #FFFFEE;
}

.announcement-menu::after {
    display: block;
    content: "1";
    color: #FFFFFF;
    background-color: #2A7FF3;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    left: 13px;
    bottom: 25px;
}

#announcement-outer-container {
    position: absolute;
    top: 56px;
    right: 0px;
    width: 315px;
}

#announcement-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 0px;
    box-shadow: 0px 3px 6px #00000029;
    overflow: scroll;
    overflow-x: hidden;
}

.class-details {
    padding: 16px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.announcement {
    font-size: 14px;
}

.teacher-info,
.announcement,
.extra-details {
    display: flex;
}

.announcement-buttons {
    background-color: white;
    box-shadow: 0px 1px 6px #0000003D;
    border-radius: 0px 0px 2px 2px;
    width: 315px;
    display: none;
}

.button-1 {
    cursor: pointer;
    font-size: 15px;
    padding-left: 34px;
    padding-right: 34px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.32);
}

.button-2 {
    cursor: pointer;
    font-size: 15px;
    padding-left: 34px;
    padding-right: 34px;
    margin-top: 15px;
}

/* <div class="announcement-buttons">
    <div>SHOW ALL</div>
    <div>CREATE NEW</div>
</div> */

.profile-icon {
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    width: 30px;
    height: 32px;
    border-radius: 50%;
}

.profile-icon::after {
    content: "T";
    color: #222222;
    background-color: #FFFFFF;
    position: absolute;
    height: 20px;
    width: 20px;
    letter-spacing: -0.5px;
    border-radius: 50%;
    text-align: center;
    left: 20px;
    bottom: 20px;
}

.hamburger-icon {
    position: relative;
}

.hamburger-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 56px;
    margin-left: 10px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 280px;
    background-color: #FFFFFF;
    top: 56px;
    right: 0px;
    box-shadow: 0px 13px 20px #0000003D;
    height: 0px;
    transition: max-height 2s ease;
    overflow: hidden;
}

.hamburger-menu:hover .menu-container {
    height: 288px;
    transition: 1s;
}

.hamburger-menu {
    &:hover {
        .hamburger-icon {
            background-image: linear-gradient(white, white);
        }
    }
}

.hamburger-menu {
    &:hover {
        .hamburger-icon {
            background-image: linear-gradient(white, white);
        }
    }
}

.menu-item {
    cursor: pointer;
    padding: 16px;
    background-color: #FFFFFF;

    &:hover {
        background-color: #F3F3F3;

        .sub-menu {
            display: block;
            direction: column;
            padding-left: 32px;
            padding-top: 16px;
        }

        .arrow {
            rotate: 180deg;
        }
    }
}

.menu-item-flex {
    display: flex;
    justify-content: space-between;
}

.arrow {
    /* display: inline-block; */
    margin-right: 0;
    margin-left: auto;
}

.sub-menu {
    display: none;
}

.teacher-info {
    display: flex;
}

.teacher-type {
    margin-top: 0px;
    margin-bottom: 8px;
    font-weight: 450;
}

.teacher-name {
    margin-left: 3px;
    margin-top: 0px;
    margin-bottom: 8px;
    font-weight: 550;
    width: 81px;
}

.icon {
    width: 15px;
    height: 18px;
    margin-left: auto;
}

.announcement {
    font-size: 14px;
    font-weight: 600;
}

.attachment-icon {
    width: 10px;
    height: 18px;
    margin-top: 6px;
    margin-right: 2px;
}

.extra-info {
    font-weight: 450;
    margin-top: 8px;
}

.date-time {
    margin-top: 8px;
    margin-left: auto;
    font-weight: 450;
}

.class-details {
    border-bottom: 1px solid rgba(110, 110, 110, .3);
}

.upper-tab {
    margin-top: 26px;
    display: flex;
    /* width: 976px; */
    height: 64px;
    background: #8DDC97;
    margin-right: 15px;
    margin-left: 15px;
    justify-content: space-around;
    align-items: center;
}

.courses {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* width: 488px; */
    height: 64px;
    /* position: relative; */
}

.classes {
    display: flex;
    align-items: center;
    /* width: 488px; */
    height: 64px;
    margin-left: 40px;
    /* position: relative; */
}

.course-border {
    border-bottom: 3px solid black;
    width: 47vw;
    margin-left: 15px;
    margin-right: 15px;
}

.courses-content {
    display: flex;
    align-items: center;
    /* width: 120px; */
    height: 32px;
    /* justify-content: space-between; */
    /* position: absolute; */
    /* left: 210px; */
}

.classes-content {
    display: flex;
    align-items: center;
    /* width: 120px; */
    height: 32px;
    justify-content: space-evenly;
    /* position: absolute;
    left: 210px; */
}

.course-no {
    font-size: 24px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.class-no {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 24px;
    font-weight: bold;
}

.course-text {
    font-size: 16px;
    font-weight: 500;
}

.class-text {
    font-size: 16px;
    font-weight: 500;
}

.course-nav-container {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    /* width: 976px; */
    height: 28px;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.num-courses {
    /* width: 132px; */
    height: 15px;
    font-size: 12px;
}

.sort-by-container {
    display: flex;
    /* width: 280px; */
    height: 28px;
    /* margin-left: 300px; */
}

.course-name-wrapper {
    display: flex;
    margin-left: 5px;
    height: 28px;
    /* width: 180px; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.sort-by {
    font-size: 12px;
    /* width: 50px; */
    height: 15px;
    display: flex;
    position: relative;
    top: 5px;
}

.course-name {
    font-size: 16px;
    /* width: 140px; */
    height: 20px;
    font-weight: 550;
    color: black;
}

.sort-icon {
    display: flex;
    /* width: 12px; */
    height: 24px;
    margin-left: 25px;
}

.arrow-down {
    /* width: 30px; */
    height: 24px;
    margin-left: 45px;
}

.border-seperator {
    border-bottom: 1px solid #000000;
    margin-left: 15px;
    margin-right: 15px;
    opacity: 0.12;
}

#box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(476px, 1fr));
    grid-template-rows: 246px 246px;
    justify-content: center;
    grid-gap: 24px;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
    position: relative;
}

#box-container>div {
    background-color: white;
}

.box-container-card {
    padding: 24px 0 0 24px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.box-container-card-top {
    display: flex;
}

.class-info {
    display: flex;
    flex-direction: column;
}

.main-image {
    margin-right: 16px;
    width: 132px;
    height: 157px;
}

.heading>div {
    font-weight: 600;
    margin-bottom: 7px;
    color: #222222;
    margin-right: 50px;

    display: flex;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.favourite-icon {
    position: absolute;
    right: 10px;
    bottom: 205px;
}

.subject-grade {
    font-size: 12px;
    font-weight: 550;
    color: #666666;
    margin-bottom: 7px;
}

.nums {
    color: #222222;
    font-size: 12px;
    font-weight: bold;
}

.words {
    color: #666666;
    font-size: 12px;
    margin-right: 2px;
}

.class-name {
    margin-top: 15px;
    width: 264px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    font-size: 16px;
    color: #222222;
    font-weight: 550;
}

.class-name>img {
    position: absolute;
    bottom: 7px;
    right: -8px;
}

.class-detail {
    margin-top: 8px;
    width: 235px;
    height: 15px;
    font-size: 12px;
    color: #666666;
    font-weight: 550;
}

.class-stats {

    display: flex;
    margin-top: 16px;
    margin-left: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    justify-content: space-around;
    padding-top: 10px;
    margin-right: 20px;
}

.preview-icon {
    margin-left: 20px;
    margin-right: 101px;
}

.grade-submission-icon {
    margin-left: 102px;
    margin-right: 101px;
}

.reports-icon {
    margin-right: 24px;
}

/* .second-box-container {
    padding: 24px 0 0 24px;
    display: flex;
    flex-direction: column;
    position: relative;
} */

/* .second-box-top {
    display: flex;
} */

.less-opaque {
    opacity: 0.4;
}

/* .third-box-container {
    padding: 24px 0 0 24px;
    display: flex;
    flex-direction: column;
    position: relative;
} */

/* .third-box-top {
    display: flex;
} */

/* .fourth-box-container {
    padding: 0px 0 0 0px;
    display: flex;
    flex-direction: column;
    position: relative;
} */

.box-padding-zero {
    padding: 0;
}

/* .fourth-box-top {
    margin-left: 24px;
    display: flex;
} */

.box-top-left-margin {
    margin-left: 24px;
}

.last-class-stats {
    margin-left: 24px;
}

.expired {
    width: 45px;
    height: 15px;
    background-color: #FFE4E6;
    padding: 2px 0px 0px 4px;
    color: #D80000;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 8px;
}

.favourite-icon-4 {
    filter: grayscale(1);
    opacity: 0.6;
}

.contact {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.separate {
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0.5;
}

.separator {
    opacity: 0.5;
    margin-left: 10px;
    margin-right: 10px;
}

p>span {
    font-weight: 500;
    margin-left: 3px;
    margin-right: 3px;
}

.footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(224, 225, 225, 255), rgba(224, 225, 225, 255)), url("footer-image.png");
    width: 100%;
}


@media only screen and (max-width: 1024px) {
    .hamburger-icon {
        display: none;
    }

}

@media only screen and (max-width: 768px) {

    /* .sort-by-container {
        width: 308px;
    } */


    .footer {
        margin-top: 5px;
        width: 768px;
    }

    /* .course-nav-container {
        margin-left: 20px;
        margin-right: 20px;
    } */

    /*
    .border-seperator {
        width: 890px;
        margin-left: 20px;
    }

    .class-stats {
        width: 523px;
        justify-content: space-around;
    } */

    /* .class-name {
        width: 370px;
    } */

    .nav-menu {
        display: none;
    }

    .hamburger-icon {
        display: inline-block;
    }


    /* .upper-tab {
        width: 90vw;
    }

    .course-border {
        margin-left: 150px;
    } */

    /* .upper-tab {
        width: 880px;
        margin-left: 24px;
        margin-right: 24px;
    } */


    .box-container {
        margin-top: 24px;
        grid-template-rows: repeat(4, 246px);

        grid-template-columns: repeat(auto-fill, minmax(571px, 571px));

        /* margin-left: 200px; */
    }
}