.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 200px 200px 70px;
    grid-gap: 3px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.header {
    background-image: linear-gradient(to bottom right, #6e55da, #8e7be2);
    grid-column-start: 1;
    grid-column-end: -1;
}

.sidebar {
    background-image: linear-gradient(to top right, #29a49d, #3cdad2);
    grid-row-start: 2;
    grid-row-end: 4;
}

.content-1 {
    background-image: linear-gradient(to bottom right, #645bdc, #34cfe2);
    grid-column-start: 2;
    grid-column-end: -1;
}

.content-2 {
    background-image: linear-gradient(to bottom right, #655adc, #36d2e0);
}

.content-3 {
    background-image: linear-gradient(to bottom right, #655adc, #36d2e0);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 200px 200px 70px;
    grid-gap: 3px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.header {
    background-image: linear-gradient(to bottom right, #6e55da, #8e7be2);
    grid-column-start: 1;
    grid-column-end: -1;
}

.sidebar {
    background-image: linear-gradient(to top right, #29a49d, #3cdad2);
    grid-row-start: 2;
    grid-row-end: 4;
}

.content-1 {
    background-image: linear-gradient(to bottom right, #645bdc, #34cfe2);
    grid-column-start: 2;
    grid-column-end: -1;
}

.content-2 {
    background-image: linear-gradient(to bottom right, #655adc, #36d2e0);
}

.content-3 {
    background-image: linear-gradient(to bottom right, #655adc, #36d2e0);
}

.footer {
    background-image: linear-gradient(to bottom right, #6e55da, #8e7be2);
    grid-column-start: 1;
    grid-column-end: -1;
}