.feedback{
    background-color: white;
    margin-left: 24px;
    margin-right: 32px;
    margin-top: 10px;
    padding-left: 24px;
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 14px;
    font-weight: 550;
    cursor: pointer;
}

.button-container {
    text-align: center;
  }
  
  .prev-btn {
    margin-top: 40px;
    width: 100px;
    height: 28px;
    padding: 5px 16px;
    background-color: #3FD28B;
    border: none;
    color: #1F2834;
    font-size: 14px;
    margin-bottom: 103px;
    cursor: pointer;
  }
  