@font-face {
    font-family: Quicksand;
    src: url("Quicksand.ttf");
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: Quicksand;
    background-color: #EEEEEE;
}

.header {
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    background: linear-gradient(rgba(31, 42, 54, 255), rgba(31, 42, 54, 255)), url('header-image.png');
    width: 100%;
    height: 56px;
    position: fixed;
    flex: 1;
    left: 0;
    top: 0;
    z-index: 1;
}

.header-logo {
    margin-top: 10px;
    margin-left: 24px;
    width: 134px;
    height: 36px;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 190px;
}

.nav-spacing {
    margin-right: 30px;
}

li a {
    color: #3FD28B;
    text-decoration: none;
}

.db {
    display: flex;
    width: 98px;
    height: 53px;
    color: white;
    border-bottom: 3px solid white;
    align-items: center;
}

.info-icons {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: end;
    margin-right: 10px;
}

.alert-icon {
    position: relative;
    margin-right: 30px;
}

.alert-icon::after {
    content: "2";
    color: #FFFFFF;
    background-color: #2A7FF3;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    left: 13px;
    bottom: 15px;
}

.announcement-icon {
    position: relative;
    margin-right: 30px;
}

.announcement-icon::after {
    content: "1";
    color: #FFFFFF;
    background-color: #2A7FF3;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    left: 13px;
    bottom: 15px;
}

.profile-icon {
    position: relative;
    margin-right: 10px;
    width: 35px;
    height: 37px;
    border-radius: 50%;
}

.profile-icon::after {
    content: "T";
    color: #222222;
    background-color: #FFFFFF;
    position: absolute;
    height: 20px;
    width: 20px;
    letter-spacing: -0.5px;
    border-radius: 50%;
    text-align: center;
    left: 20px;
    bottom: 20px;
}

.upper-tab {
    margin-top: 90px;
    display: flex;
    width: 976px;
    height: 64px;
    background: #8DDC97;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.courses {
    display: flex;
    align-items: center;
    width: 488px;
    height: 64px;
    position: relative;
    border-bottom: 3px solid black;
}

.classes {
    display: flex;
    align-items: center;
    width: 488px;
    height: 64px;
    position: relative;
}

.courses-content {
    display: flex;
    align-items: center;
    width: 120px;
    height: 32px;
    justify-content: space-evenly;
    position: absolute;
    left: 210px;
}

.classes-content {
    display: flex;
    align-items: center;
    width: 120px;
    height: 32px;
    justify-content: space-evenly;
    position: absolute;
    left: 210px;
}

.course-no {
    font-size: 24px;
    font-weight: bold;
}

.class-no {
    font-size: 24px;
    font-weight: bold;
}

.course-text {
    font-size: 16px;
    font-weight: 500;
}

.class-text {
    font-size: 16px;
    font-weight: 500;
}

.course-nav-container {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 976px;
    height: 28px;
    display: flex;
    margin-bottom: 17px;
    justify-content: space-between;
}

.num-courses {
    width: 132px;
    height: 15px;
    font-size: 12px;
}

.sort-by-container {
    display: flex;
    width: 280px;
    height: 28px;
    margin-left: 400px;
}

.course-name-wrapper {
    display: flex;
    margin-left: 5px;
    height: 28px;
    width: 180px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.sort-by {
    font-size: 12px;
    width: 50px;
    height: 15px;
    display: flex;
    position: relative;
    top: 5px;
}

.course-name {
    font-size: 16px;
    width: 140px;
    height: 20px;
    font-weight: 550;
    color: black;
}

.sort-icon {
    display: flex;
    width: 12px;
    height: 24px;
    margin-left: 25px;
}

.arrow-down {
    width: 30px;
    height: 24px;
    margin-left: 45px;
}

.border-seperator {
    border-bottom: 1px solid #000000;
    width: 976px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.12;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(476px, 1fr));
    grid-template-rows: 246px 246px;
    justify-content: center;
    grid-gap: 24px;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
    position: relative;
}

.box-container>div {
    background-color: white;
}

.first-box-container {
    padding: 24px 0 0 24px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.first-box-top {
    display: flex;
}

.class-info {
    display: flex;
    flex-direction: column;
}

.main-image {
    margin-right: 16px;
    width: 132px;
    height: 157px;
}

.heading>div {
    display: flex;
    font-weight: 600;
    margin-bottom: 7px;
    color: #222222;
}

.favourite-icon {
    position: absolute;
    right: 10px;
    bottom: 205px;
}

.subject-grade {
    font-size: 12px;
    font-weight: 550;
    color: #666666;
    margin-bottom: 7px;
}

.nums {
    color: #222222;
    font-size: 12px;
    font-weight: bold;
}

.words {
    color: #666666;
    font-size: 12px;
    margin-right: 2px;
}

.class-name {
    margin-top: 15px;
    width: 264px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    font-size: 16px;
    color: #222222;
    font-weight: 550;
}

.class-name>img {
    position: absolute;
    bottom: 7px;
    right: -8px;
}

.class-detail {
    margin-top: 8px;
    width: 235px;
    height: 15px;
    font-size: 12px;
    color: #666666;
    font-weight: 550;
}

.class-stats {
    display: flex;
    width: 428px;
    height: 40px;
    margin-right: auto;
    align-items: end;
    margin-top: 16px;
    margin-left: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.preview-icon {
    margin-left: 20px;
    margin-right: 101px;
}

.grade-submission-icon {
    margin-left: 102px;
    margin-right: 101px;
}

.reports-icon {
    margin-right: 24px;
}

.second-box-container {
    padding: 24px 0 0 24px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.second-box-top {
    display: flex;
}

.less-opaque {
    opacity: 0.4;
}

.heading-2 {
    width: 250px;
    height: 41px;
}

.third-box-container {
    padding: 24px 0 0 24px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.third-box-top {
    display: flex;
}

.heading-3 {
    width: 260px;
    height: 43px;
}

.fourth-box-container {
    padding: 0px 0 0 0px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.fourth-box-top {
    margin-left: 24px;
    display: flex;
}

.heading-4 {
    width: 260px;
    height: 40px;
}

.last-class-stats {
    margin-left: 24px;
}

.expired {
    width: 45px;
    height: 15px;
    background-color: #FFE4E6;
    padding: 2px 0px 0px 0px;
    color: #D80000;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 8px;
}

.favourite-icon-4 {
    filter: grayscale(1);
    opacity: 0.6;
}

.contact {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.separate {
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0.5;
}

.separator {
    opacity: 0.5;
    margin-left: 10px;
    margin-right: 10px;
}

p>span {
    font-weight: 500;
    margin-left: 3px;
    margin-right: 3px;
}

.footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(224, 225, 225, 255), rgba(224, 225, 225, 255)), url("footer-image.png");
    margin-top: auto;
    width: 100%;
}


@media only screen and (max-width: 1024px) {
    .hamburger-icon {
        display: none;
    }

}

@media only screen and (max-width: 768px) {

    .sort-by-container {
        width: 308px;
    }

    .contact {
        margin-left: 200px;
    }

    .footer {
        margin-top: 5px;
        width: 930px;
    }

    .course-nav-container {
        margin-left: 20px;
        margin-right: 20px;
        width: 910px;
    }

    .border-seperator {
        width: 890px;
        margin-left: 20px;
    }

    .class-stats {
        width: 523px;
        justify-content: space-around;
    }

    .class-name {
        width: 370px;
    }

    .nav-menu {
        display: none;
    }

    .hamburger-icon {
        display: inline-block;
    }

    .upper-tab {
        width: 880px;
        margin-left: 24px;
        margin-right: 24px;
    }


    .box-container {
        margin-top: 24px;
        grid-template-columns: 571px;
        grid-template-rows: repeat(4, 246px);
        margin-left: 250px;
    }
}