@font-face {
    font-family: Quicksand;
    src: url("Quicksand.ttf");
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: Quicksand;
    background-color: #EEEEEE;
}

.profile-icon {
    width: 35px;
    height: 37px;
    border-radius: 50%;
}

.header {
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    background: linear-gradient(rgba(31, 42, 54, 255), rgba(31, 42, 54, 255)), url('header-image.png');
    width: 100%;
    height: 56px;
    position: fixed;
    flex: 1;
    left: 0;
    top: 0;
}

.header-logo {
    margin-top: 10px;
    margin-left: 24px;
    width: 134px;
    height: 36px;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 190px;
}

.nav-spacing {
    margin-right: 30px;
}

li a {
    color: #3FD28B;
    text-decoration: none;
}

.db {
    display: flex;
    width: 98px;
    height: 53px;
    color: white;
    border-bottom: 3px solid white;
    align-items: center;
}

.info-icons {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: end;
    margin-right: 10px;
}

.alert-icon {
    position: relative;
    margin-right: 30px;
}

.alert-icon::after {
    content: "2";
    color: #FFFFFF;
    background-color: #2A7FF3;
    position: absolute;
    height: 20px;
    width: 20px;
    letter-spacing: -0.5px;
    border-radius: 50%;
    text-align: center;
    left: 13px;
    bottom: 15px;
}

.announcement-icon {
    position: relative;
    margin-right: 30px;
}

.announcement-icon::after {
    content: "1";
    color: #FFFFFF;
    background-color: #2A7FF3;
    position: absolute;
    height: 20px;
    width: 20px;
    letter-spacing: -0.5px;
    border-radius: 50%;
    text-align: center;
    left: 13px;
    bottom: 15px;
}

.profile-icon {
    position: relative;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.profile-icon::after {
    content: "T";
    color: #222222;
    background-color: #FFFFFF;
    position: absolute;
    height: 20px;
    width: 20px;
    letter-spacing: -0.5px;
    border-radius: 50%;
    text-align: center;
    left: 20px;
    bottom: 20px;
}

.upper-tab {
    margin-top: 90px;
    display: flex;
    width: 976px;
    height: 64px;
    background: #8DDC97;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.courses {
    display: flex;
    align-items: center;
    width: 488px;
    height: 64px;
    position: relative;
    border-bottom: 3px solid black;
}

.classes {
    display: flex;
    align-items: center;
    width: 488px;
    height: 64px;
    position: relative;
}

.courses-content {
    display: flex;
    align-items: center;
    width: 120px;
    height: 32px;
    justify-content: space-evenly;
    position: absolute;
    left: 210px;
}

.classes-content {
    display: flex;
    align-items: center;
    width: 120px;
    height: 32px;
    justify-content: space-evenly;
    position: absolute;
    left: 210px;
}

.course-no {
    font-size: 24px;
    font-weight: bold;
}

.class-no {
    font-size: 24px;
    font-weight: bold;
}

.course-text {
    font-size: 16px;
    font-weight: 500;
}

.class-text {
    font-size: 16px;
    font-weight: 500;
}

.course-nav-container {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 976px;
    height: 28px;
    display: flex;
    margin-bottom: 17px;
}

.num-courses {
    font-size: 12px;
    width: 160px;
    height: 15px;
}

.sort-by-container {
    display: flex;
    width: 280px;
    height: 28px;
    margin-left: 550px;
}

.course-name-wrapper {
    display: flex;
    margin-left: 5px;
    height: 28px;
    width: 170px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.sort-by {
    font-size: 12px;
    width: 50px;
    height: 15px;
    display: flex;
    position: relative;
    top: 5px;
}

.course-name {
    font-size: 16px;
    width: 140px;
    height: 20px;
    font-weight: 600px;
}

.sort-icon {
    display: flex;
    width: 12px;
    height: 24px;
    margin-left: 25px;
}

.arrow-down {
    width: 30px;
    height: 24px;
    margin-left: 45px;
}

.border-seperator {
    border-bottom: 1px solid #000000;
    width: 976px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.12;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(476px, 1fr));
    grid-template-rows: 246px 246px;
    justify-content: center;
    grid-gap: 24px;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
}

.box-container>div {
    background-color: white;
}

.first-box-container {
    padding: 24px 0 0 24px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.first-box-top {
    display: flex;
}

.class-info {
    display: flex;
    flex-direction: column;
}

.main-image {
    margin-right: 16px;
    width: 132px;
    height: 157px;
}

.heading {
    display: flex;
}

.heading>p {
    font-weight: 600;
    margin-top: 0px;
}

.favourite-icon {
    position: absolute;
    left: 444px;
    bottom: 205px;
}

/* <div class="first-box-container">

            <div class="first-box-top">

                <img src="imageMask1.png" alt="image-mask-1">

                <div class="class-info">

                    <div class="heading">Acceleration</div>

                        <img class="favourite-icon" src="favourite.svg" alt="favourite-icon">
                    
                    <div class="subject-grade">
                        <span>Physics</span> 
                        <span class="seperation">|</span> 
                        <span>Grade 7 +2</span></span>
                    </div>


                    <div class="chapters">
                        <span>4</span> 
                        <span>Units</span> 
                        <span>18</span>
                        <span>Lessons</span> 
                        <span>24</span> 
                        <span>Topics</span>
                    </div>

                    <div class="class-name">
                        <span>Mr. Frank's Class B</span>
                        <img src="arrow-down.svg" alt="dropdown icon">
                    </div>

                    <div class="class-detail">
                        <span>50 Students</span> 
                        <span class="seperation">|</span> 
                        <span>21-Jan-2020 - 21-Aug-2020</span>
                    </div>

                </div>
                
            </div>

            <div box-inner-border></div>

            <div class="class-stats">
                <img src="preview.svg" alt="preview">
                <img src="manage course.svg" alt="manage-course">
                <img src="grade submissions.svg" alt="grade-submissions">
                <img src="reports.svg" alt="reports">
            </div>

        </div> */




@media only screen and (max-width: 1024px) {
    .hamburger-icon {
        display: none;
    }

}

@media only screen and (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .hamburger-icon {
        display: inline-block;
    }

    .upper-tab {
        width: 930px;
        margin-left: 20px;
    }


    .box-container {
        margin-top: 24px;
        grid-template-columns: 571px;
        grid-template-rows: repeat(4, 246px);
        margin-left: 250px;
    }
}